@import '../../../app/[locale]/variables.scss';

.thirdBloc {
    .container {
        display: flex;
        flex-direction: column;
    }
    .subContainer1 {
        display: flex;
        @media screen and (min-width: $desktop) {
        }
    }

    .divContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 1rem;
        justify-items: center;
        height: 100%;
        color: $lightBlue;
    }
    .text {
        font-size: 16px;
        font-family: 'serifBold';
        text-align: center;
        @media screen and (min-width: $desktop) {
            font-size: 30px;
        }
    }

    .blueLineContainer {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        justify-content: space-between;
    }
    .blueLine {
        width: 100%;
        background-color: $lightBlue;
        padding: 2rem;
    }

    .blueLineText {
        font-family: 'helveticaLight';
        text-align: center;
        color: white;
        @media screen and (min-width: $desktop) {
        }
    }

    .subContainer2 {
        display: flex;
    }
    .darkBloc {
        background-color: $darkBlue;
        width: 100%;
        height: auto;
    }

    .descContainer {
        display: flex;
        padding: 1rem;
        gap: 35px;
    }

    .linesContainer {
        display: flex;
    }

    .darkLine {
        background-color: $darkBlue;
        display: block;
        height: auto;
        width: 200px;
    }

    .lightLine {
        background-color: $lightBlue;
        display: block;
        height: auto;
        width: 200px;
    }

    .banniere {
        width: 100%;
        height: auto;
    }
}
