@import '../../../app/[locale]/variables.scss';

.thirdBloc {
    .subContainer1 {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
        }
    }

    .divContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 2rem;
        justify-items: center;
        height: 100%;
        color: $lightBlue;
    }
    .text {
        font-size: 20px;
        font-family: 'serifBold';
        text-align: center;
        @media screen and (min-width: $desktop) {
            font-size: 30px;
        }
    }
    .blueLine {
        width: 100%;
        height: 190px;
        background-color: $lightBlue;
    }

    .subContainer2 {
        display: flex;
    }
    .darkBloc {
        background-color: $darkBlue;
        width: 100%;
        height: auto;
    }

    .image {
        width: 100%;
        height: auto;
    }
}
