@import '../../../app/[locale]/variables.scss';

.thirdBloc {
    color: $darkBlue;
    p {
        text-align: center;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .subContainer1 {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
        }
    }

    .divContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .textContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        padding: 1rem;
        justify-items: center;
        height: 100%;
        color: $newBlue;
        align-items: center;
    }
    .text {
        font-size: 16px;
        font-family: 'serifBold';
        text-align: center;
        @media screen and (min-width: $desktop) {
            font-size: 25px;
        }
    }

    .blueLineContainer {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .blueLine {
        width: 100%;
        background-color: $newBlue;
        padding: 1rem 2rem;
        margin-top: 40px;
    }

    .blueLineText {
        font-family: 'helveticaLight';
        text-align: center;
        color: white;
        line-height: 1.1;
        font-size: 14px;
        letter-spacing: 0.3px;
        @media screen and (min-width: $desktop) {
        }
    }

    .subContainer2 {
        display: flex;
    }
    .darkBloc {
        background-color: $darkBlue;
        width: 100%;
        height: auto;
    }

    .descContainer {
        display: flex;
        gap: 35px;
        padding: 2rem 1rem;
        font-size: 14px;
        line-height: 1.3;
        width: 100%;
        justify-content: center;
    }

    .linesContainer {
        display: flex;
    }

    .darkLine {
        background-color: $darkBlue;
        display: block;
        height: auto;
        width: 20px;
    }

    .lightLine {
        background-color: $newBlue;
        display: block;
        height: auto;
        width: 20px;
    }

    .banniere {
        width: 100%;
        height: auto;
    }

    .image {
        @media screen and (max-width: $desktop) {
            width: 100%;
            height: auto;
        }
    }
}
