.nav {
    .navContainer {
        display: flex;
        align-items: center;
        list-style: none;
        gap: 40px;
        font-family: 'helveticaLight';
        text-transform: uppercase;
        margin-right: 30px;
    }
}

.verticalBar {
    width: 1px;
    height: 50px;
    margin: 0 auto;
}
