@import '../../../app/[locale]/variables.scss';
.secondBloc {
    color: $darkBlue;

    p {
        letter-spacing: 1px;
        line-height: 1.1;
    }

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .image {
        width: 100%;
        height: auto;
        flex: 1;
        @media screen and (min-width: $desktop) {
        }
    }

    .subContainer1 {
        display: flex;
        flex-direction: column;

        @media screen and (min-width: $desktop) {
            flex-direction: row;
            justify-content: center;
        }
    }

    .textContainer1 {
        text-align: justify;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex: 2;
        background-color: $darkBlue;
        @media screen and (min-width: $desktop) {
            text-align: center;
        }
    }

    .subContainer2 {
        display: flex;
        flex-direction: column-reverse;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            justify-content: center;
        }
    }

    .textContainer2 {
        text-align: justify;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex: 2;
        font-size: 14px;
        @media screen and (min-width: $desktop) {
            text-align: center;
            padding: 2rem;
        }
    }

    .subContainer3 {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            justify-content: center;
        }
    }

    .textContainer3 {
        width: 100%;
    }

    .blueLine {
        width: 100%;
        background-color: $darkBlue;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem;
    }

    .blueLineText {
        color: white;
        text-align: center;
        font-family: 'helveticaMedium';
        font-size: 14px;
    }

    .gridContainer {
        display: flex;
        flex-direction: column;
        border: 1px solid $darkBlue;
        padding: 1rem;
        gap: 10px;
        @media screen and (min-width: $desktop) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            padding: 2rem;
            justify-items: center;
            margin: 0;
            border: none;
        }
    }

    .infosContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .gridTitle {
        font-size: 22px;
        color: $lightBlue;
        font-family: 'serifBold';
        text-align: center;
        @media screen and (min-width: $desktop) {
            font-size: 30px;
        }
    }

    .gridText {
        font-size: 12px;
        text-align: justify;
        margin-top: 30px;
        line-height: 1.6;
        @media screen and (min-width: $desktop) {
            font-size: 10px;
            text-align: center;
        }
    }
}
