@import '../../../app/[locale]/variables.scss';
.news {
    .newsContainer {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 40px;
            padding: 2rem;
        }
    }

    .new {
        margin-top: 30px;

        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        @media screen and (min-width: $desktop) {
            margin-top: 0;
        }
    }

    .image {
        border: 3px solid $newBlue;
        width: 100%;
        max-height: 331px;
        object-fit: cover;
        @media screen and (max-width: $tablet) {
            height: auto;
        }
    }

    .title {
        color: $newBlue;
        font-family: 'serifBold';
        text-align: center;
    }

    p {
        text-align: center;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.2px;
        margin-top: 20px;
        color: black;
    }

    a {
        text-decoration: none;
    }

    .titleNews {
        font-family: 'serifBold';
    }
}
