@import '../../../app/[locale]/variables.scss';
.news {
    .newsContainer {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            padding: 2rem;
        }
    }

    .new {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .image {
        border: 3px solid $lightBlue;
        width: 100%;
    }

    .title {
        color: $lightBlue;
        font-family: 'serifBold';
    }
}
