@import '../../../app/[locale]/variables.scss';

.container {
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    @media screen and (min-width: $desktop) {
        gap: 50px;
    }

    .title {
        font-family: 'helveticaLight';
        font-size: 30px;
        text-align: center;
        color: $darkBlue;
        @media screen and (min-width: $desktop) {
            font-size: 50px;
            line-height: 1.4;
        }
    }

    .brand {
        font-family: 'helveticaBold';
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 6px;
    }
    span {
        color: $newBlue;
        font-family: 'helveticaBold';
    }
}
