@import '../../../app/[locale]/variables.scss';
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
    gap: 50px;

    .title {
        font-family: 'helveticaLight';
        text-align: center;
        font-size: 50px;
    }

    .brand {
        font-family: 'helveticaBold';
        text-transform: uppercase;
        font-size: 10px;
        letter-spacing: 6px;
    }
    span {
        color: $lightBlue;
        font-family: 'helveticaBold';
    }
}
