@import '../../../app/[locale]/variables.scss';

.fourthBloc {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: justify;
        line-height: 1.2;
        font-size: 14px;
        @media screen and (min-width: $desktop) {
            text-align: center;
        }
    }

    h4 {
        font-size: 25px;
        text-align: center;
        font-family: 'serifBold';
        color: $darkBlue;
        margin-bottom: 30px;
        @media screen and (min-width: $desktop) {
            font-size: 40px;
            margin: 0;
        }
    }

    .container {
        display: flex;
        margin-bottom: 100px;
        padding: 1rem;
        gap: 50px;
        font-size: 14px;
        line-height: 1.2;
        width: 100%;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            position: relative;
            z-index: 1;
            flex-direction: row;
        }
    }
    .container::after {
        @media screen and (min-width: $desktop) {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: -59px;
            height: 43px;
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0.3),
                rgba(0, 0, 0, 0)
            );
            z-index: -1;
        }
    }

    .container2 {
        display: flex;
        gap: 50px;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            padding: 1rem;
            flex-direction: row;
        }
    }

    .image {
        width: 100%;
    }

    .textContainer {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            align-items: center;
            flex: 1;
        }
    }
    .imgContainer {
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        flex: 1;
    }

    .textColumn1 {
        flex: 1;
    }

    .textColumn2 {
        flex: 1;
    }

    .title {
        margin-bottom: 30px;
    }

    .img {
        width: 100%;
        height: auto;
    }
}
