@import '../../../app/[locale]/variables.scss';

.brands {
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
    p {
        text-align: justify;
        line-height: 1.2;
        @media screen and (min-width: $desktop) {
            text-align: center;
            font-size: 14px;
        }
    }
    flex-direction: column;
    @media (min-width: $desktop) {
        flex-direction: row;
    }
}

.firstContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.subtitle {
    font-family: 'serifBold';
    font-size: 28px;
    color: $darkBlue;
}

.subtitleDesc {
    color: $darkBlue;
    font-family: 'helveticaMedium';
    font-size: 14px;
    margin-bottom: 20px;
}

.secondContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
}

.image {
    width: 100%;
    height: auto;
}

.name {
    width: 100%;
    height: auto;
}

.image2 {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
