@import '../../../app/[locale]/variables.scss';

.firstBloc {
    .subdesc {
        font-size: 15px;
        text-align: center;

        @media screen and (min-width: $desktop) {
            font-size: 12px;
            width: 50%;
        }
    }

    .image {
        width: 100%;
        height: auto;
    }

    .section {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .titleSerif {
        font-size: 25px;
        color: $darkBlue;
        font-family: 'serifBold';
        text-align: center;

        @media screen and (min-width: $desktop) {
            font-size: 40px;
        }
    }
    .textContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        gap: 20px;
    }
}

.textBlue {
    color: $lightBlue;
    font-family: 'serifBold';
    font-size: 20px;
}
