@import '../../../app/[locale]/variables.scss';

.firstBloc {
    .subdesc {
        font-size: 15px;
        text-align: center;
        letter-spacing: 1px;

        @media screen and (min-width: $desktop) {
            font-size: 12px;
            width: 55%;
        }
    }

    .image {
        width: 100%;
        height: auto;
        flex: 1;
    }

    .section {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: $desktop) {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    }

    .titleSerif {
        font-size: 25px;
        color: $darkBlue;
        font-family: 'serifBold';
        text-align: center;

        @media screen and (min-width: $desktop) {
            font-size: 40px;
            line-height: 1.1;
        }
    }
    .textContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex: 1;
        margin-top: 20px;
        @media screen and (min-width: $desktop) {
            margin: 0;
        }
    }
}

.textBlue {
    color: $newBlue;
    font-family: 'serifBold';
    font-size: 20px;
    letter-spacing: 1px;
}

.imgContainer {
    position: relative;
    width: 100%;
    min-height: 60px;
    padding: 1rem;
}

.trioLogo {
    height: auto !important;
    @media screen and (max-width: $tablet) {
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%);
    }
}
