@import '../../../app/[locale]/variables.scss';
.team {
    margin-bottom: 100px;
}
.teamContainer {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: $desktop) {
        flex-direction: row;
    }
}
.imgContainer {
    padding: 1rem;
    box-shadow: 1px 5px 20px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    min-height: 96px;
}

.textContainer {
    background-color: $newBlue;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.subtitle {
    color: white;
    font-family: 'serifBold';
    font-size: 30px;
    text-align: center;
}

.desc {
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1.2;
    text-align: center;
    width: 300px;
}

.image {
    width: 100%;
    height: auto;
    flex: 1;
}

.trioLogo {
    height: auto !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
}
