@import '../../../app/[locale]/variables.scss';

.footer {
    @media screen and (min-width: $desktop) {
    }

    .containerContact {
        display: flex;
        flex-direction: column;
        color: white;
        background-color: $darkBlue;
        padding: 2rem;
        width: 100%;
        align-items: center;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .containerCredits {
        display: flex;
        flex-direction: column-reverse;
        gap: 10px;
        background-color: white;
        padding: 1rem;
        align-items: center;
        @media screen and (min-width: $desktop) {
            flex-direction: row;
            justify-content: space-around;
        }
    }

    .credits {
        font-size: 12px;
        font-family: 'helveticaMedium';
        color: $darkBlue;
    }

    .imgCredits {
        @media screen and (max-width: $desktop) {
            width: 100%;
            height: auto;
        }
    }

    .logo {
        width: 300px;
    }
}
