@import '../../../app/[locale]/variables.scss';

.footer {
    display: flex;
    width: 100%;
    gap: 30px;
    color: white;
    background-color: $darkBlue;
    padding: 2rem;
    flex-direction: column;

    @media screen and (min-width: $desktop) {
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
    }
}
