@import '../../../app/[locale]/variables.scss';

.followUs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    @media screen and (max-width: $desktop) {
        text-align: center;
        align-items: center;
        margin-top: 20px;
    }
    .title {
        font-size: 25px;
        margin-bottom: 1rem;
        font-family: 'serifBold';
        text-transform: uppercase;
    }

    .socialMedia {
        font-size: 14px;
        letter-spacing: 0.6px;
        line-height: 1.2;
    }
    a {
        text-decoration: none;
        color: white;
    }
}
